<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CrosslinkWS17Soap" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2097152">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CrosslinkWS17Soap1">
          <security mode="Transport" />
        </binding>
        <binding name="CrosslinkWS17Soap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://devws.petzent.com/CrosslinkWS/WS/crosslinkws17.asmx"
        binding="basicHttpBinding" bindingConfiguration="CrosslinkWS17Soap"
        contract="CrosslinkService.CrosslinkWS17Soap" name="CrosslinkWS17Soap" />
      <endpoint address="https://devws.petzent.com/CrosslinkWS/WS/crosslinkws17.asmx"
        binding="basicHttpBinding" bindingConfiguration="CrosslinkWS17Soap1"
        contract="CrosslinkService.CrosslinkWS17Soap" name="CrosslinkWS17Soap1" />
    </client>
  </system.serviceModel>
</configuration>