<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TIMERTIME" value="1800000" />
    <add key="UserID" value="RIVEDG06" />
    <add key="Password" value="xlink" />
    <add key="ReadyState" value="RDY" />
    <add key="SubmitState" value="SUB" />
    <add key="ApprovedState" value="APR" />
    <add key="RejectedState" value="REJ" />
    <add key="PendingState" value="PEN" />
    <add key="DeniedState" value="DEN" />
    <add key="CancelledState" value="CAN"/>
    <add key="TPGBank" value="S" />
    <add key="RABank" value="V" />
    <add key="RBBank" value="R" />
    <add key="RAName" value="Refund Advantage" />
    <add key="RBName" value="Republic Bank" />
    <add key="TPGName" value="TPG" />
    <add key="TechFee" value="1CF0C5B2-FDA2-4F9A-A6B6-28C112E4090F" />
    <add key="TransmitterFee" value="B9E04090-E960-41A3-A36C-FEC0113C7B7C" />
    <add key="EmpwebApi" value="http://localhost:9002" />
    <add key="SVB_MO_AE_SS" value="14"/>
    <add key="SVB_AE_SS" value="16"/>
    <add key="MO_AE_SS" value="8"/>
    <add key="SOME_SS" value="4"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="CrosslinkWS17Soap" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                maxReceivedMessageSize="2097152">
                <security mode="Transport" />
            </binding>
            <binding name="CrosslinkWS17Soap1" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="https://devws.petzent.com/CrosslinkWS/WS/crosslinkws17.asmx"
            binding="basicHttpBinding" bindingConfiguration="CrosslinkWS17Soap"
            contract="Crosslinkapi.CrosslinkWS17Soap" name="CrosslinkWS17Soap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add connectionString="data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_uTax_13072017;user id=sa;password=kspl1234;" name="sqlConnection" />
    <add connectionString="data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_CSR;user id=sa;password=kspl1234;" name="csrsqlConnection" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
