@using EMPPortal.Filters;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="ID" name="ID" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body fee-blk">
                <h3>uTax & Transmitter Fees</h3>
                <div id="dvFees"></div>
                <div class="table-responsive cst-edit-tb col-md-6">
                    <table class="table table-striped table-hover table-bordered " id="tdFeeFixed">
                        @*<thead>
                                <tr>
                                    <th>Bank Product Fees</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>uTax Service Bureau Fee</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr>
                                    <td>uTax Service Bureau Fee</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr>
                                    <td>uTax Service Bureau Fee</td>
                                    <td>$5.00</td>
                                </tr>
                            </tbody>*@
                    </table>
                </div>

                <div class="table-responsive cst-edit-tb col-md-6">
                    <table class="table table-striped table-hover table-bordered" id="tdFeeUser">
                        @*<thead>
                                <tr>
                                    <th>e-File Fees Amount</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>uTax Service Bureau Fee</td>
                                    <td><div class="cst-edit"><div class="col-md-6"><input type="text" id="inputDefault" class="form-control "></div><span class="cst-option"><a href="#"><i class="fa fa-check" aria-hidden="true"></i></a><i class="fa fa-times cst-close" aria-hidden="true"></i></span></div><i class="fa fa-pencil-square-o cst-edit-btn" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>uTax Service Bureau Fee</td>
                                    <td><div class="cst-edit"><div class="col-md-6"><input type="text" id="inputDefault" class="form-control "></div><span class="cst-option"><a href="#"><i class="fa fa-check" aria-hidden="true"></i></a><i class="fa fa-times cst-close" aria-hidden="true"></i></span></div><i class="fa fa-pencil-square-o cst-edit-btn" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>uTax Service Bureau Fee</td>
                                    <td><i class="fa fa-pencil-square-o cst-edit-btn" aria-hidden="true"></i><div class="cst-edit"><div class="col-md-6"><input type="text" id="inputDefault" class="form-control "></div><span class="cst-option"><a href="#"><i class="fa fa-check" aria-hidden="true"></i></a><i class="fa fa-times cst-close" aria-hidden="true"></i></span></div></td>
                                </tr>
                            </tbody>*@
                    </table>
                </div>
            </div>
        </div>

        <h2>Service Bureau Fees</h2>
        <div class="panel panel-default cst-panel">
            <div class="panel-body">
                <div class="multi-question">
                    <div class="question-block cst-radio-blk">
                        <p>Will you be charging an Add-on Service Bureau Fee to any of your Sub-sites for Bank Products? </p>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sample1" id="rbService_BankProductYes" checked="" class="yesbox">
                                Yes
                            </label>
                            <label>
                                <input type="radio" name="sample1" id="rbService_BankProductNo" value="option1" class="nobox">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="sub-question" id="subquestion_Service">
                        <div class="question-block">
                            <p>Will this fee be the same for all Sub-sites?</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample2" value="option2" id="rbService_SubSiteYes" checked="" class="yesbox">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2" id="rbService_SubSiteNo" class="nobox">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>How much would you like to add on?</p>
                            </div>
                            <div class="col-md-12" id="divBankAddOn">
                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <label>TPG</label>
                                            <input type="text" id="inputDefault" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Refund Advantage</label>
                                            <input type="text" id="inputDefault1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Republic</label>
                                            <input type="text" id="inputDefault2" class="form-control">
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Do you want to allow your Sub-sites to add on to the Service Bureau Fee during enrollment?</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" id="rbService_duringEnrollingYes" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3" id="rbService_duringEnrollingNo">
                                    No
                                </label>
                            </div>
                        </div>
                        <p>
                            Please note that all fees listed here will be collected by uTax and will be paid to you according to the terms of your uTax License Agreement
                        </p>
                    </div> <!-- sub-question-end -->
                </div>
            </div>
        </div>
        <h2>Transmission Fees</h2>
        <div class="panel panel-default cst-panel">
            <div class="panel-body">

                <div class="multi-question">
                    <div class="question-block cst-radio-blk">
                        <p>Will you be charging an Add-on Service Bureau Fee to any of your Sub-sites for Bank Products? </p>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sample4" checked="" class="yesbox" id="rbTrans_BankProductYes">
                                Yes
                            </label>
                            <label>
                                <input type="radio" name="sample4" value="option4" class="nobox" id="rbTrans_BankProductNo">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="sub-question" id="subquestion_Trans">
                        <div class="question-block">
                            <p>Will this fee be the same for all Sub-sites?</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample5" value="option5" checked="" class="yesbox" id="rbTrans_SubSiteYes" />
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample5" value="option5" class="nobox" id="rbTrans_SubSiteNo" />
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>How much would you like to add on?</p>
                            </div>
                            <div class="col-md-12" id="divBankAddOn_trns">
                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <label>TPG</label>
                                            <input type="text" id="inputDefault" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Refund Advantage</label>
                                            <input type="text" id="inputDefault1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Republic</label>
                                            <input type="text" id="inputDefault2" class="form-control">
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Do you want to allow your Sub-sites to add on to the Service Bureau Fee during enrollment?</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample6" value="option6" checked="" id="rbTrans_duringEnrollingYes">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample6" value="option6" id="rbTrans_duringEnrollingNo">
                                    No
                                </label>
                            </div>
                        </div>
                        <p>
                            Please note that all fees listed here will be collected by uTax and will be paid to you according to the terms of your uTax License Agreement
                        </p>
                    </div> <!-- sub-question-end -->
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-default btn-info" onclick="fnSaveFeeSetupConfig()">Save</a>
        </div>
    </div>
</div>

@section scripts {
    @*<script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/SubsiteFeeSetupConfig.js"></script>*@
@Html.IncludeVersionedJs("/Scripts/app/common.js")
@Html.IncludeVersionedJs("/Scripts/app/SubsiteFeeSetupConfig.js")
}

<script>
    $(document).ready(function () {
        getFeeReimbursementInformation();
    });
</script>
<script>
    $(function () {
        $(".yesbox").each(function () {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                $(this).closest('.question-block').siblings(".sub-question").show();
            }
        });

        /* on change function */

        $(".yesbox").change(function () {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                $(this).closest('.question-block').siblings(".sub-question").show();
            }
        });

        $(".nobox").change(function () {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                $(this).closest('.question-block').siblings(".sub-question").hide();
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $(".cst-edit-btn").on('click', function () {
            $(this).siblings('.cst-edit').show();
            $(this).hide();
            $(this).siblings('#cst-amount').hide();
        });
        $(".cst-close").on('click', function () {
            $(this).parents('.cst-edit').hide();
            $(this).parents('.cst-edit').siblings('.cst-edit-btn').show();
            $(this).parents('.cst-edit').siblings('#cst-amount').show();
        });
    });
    function editclick(obj) {
        var id = $(obj).attr('id');
        var editid = $(obj).attr('editid');        
        var edit = $('#edit_' + id).val();
        $('#cst-amount_' + editid).hide();
    }

    function fn_close(obj)
    {
        var closeid = $(obj).attr('closeid');
        $('#cst-amount_' + closeid).show();
    }
</script>