
@{
    ViewBag.Title = "NoPermissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">You don't have Permissions to View</h2>
<h3 class="text-center">Please Contact administrator</h3>

<script>
    $(function () {
        setTimeout(function () {
            $('#divmenu').hide();
        })
    })
</script>

