
<div class="col-md-1" style="float:right;">Sales Year: <select id="SalesYearID" name="SalesYearID" class="form-control"></select></div>

@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/customerInformation.js"></script>
}
