@{
    Layout = "~/Views/Shared/_SubSiteLayout.cshtml";
}

<input type="hidden" id="formid" name="formid" value="active" formid="site1f2a6418-f9bc-4878-ab0b-2fa004c01c01" />

<div class="row">
    <div class="col-md-12 main-office">
        <h2 class="page-title">Dashboard</h2>
        <div class="col-md-6 main-office-blk-left">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Sub-Site</h3>

                    <table class="table table-striped table-bordered table-hover ">
                        <tbody>
                            <tr>
                                <td>EFIN</td>
                                <td><span id="spEFIN"></span> </td>
                            </tr>
                            <tr>
                                <td>Company Name </td>
                                <td colspan="2"><span id="spCompanyName"></span></td>
                            </tr>
                            <tr>
                                <td>Business Owner Name </td>
                                <td colspan="2"><span id="spBusinessOwnerName"></span></td>
                            </tr>
                            <tr>
                                <td>Physical Address </td>
                                <td colspan="2"><span id="spPhysicalAddress"></span></td>
                            </tr>
                            <tr>
                                <td>City, State, Zip: </td>
                                <td colspan="2"><span id="spCitystatezip"></span></td>
                            </tr>
                            <tr>
                                <td>Office Phone: </td>
                                <td colspan="2"><span id="spOfficePhone"></span></td>
                            </tr>
                            <tr>
                                <td>Alternate Phone: </td>
                                <td colspan="2"><span id="spAlternatePhone"></span></td>
                            </tr>
                            <tr>
                                <td>Primary email: </td>
                                <td colspan="2"><span id="spPrimaryemail"></span></td>
                            </tr>
                            <tr>
                                <td>Alternate Contact: </td>
                                <td colspan="2"><span id="spAlternativeContact"></span></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- books -->
                    <div class="clearfix"> </div>
                    <div class="col-md-12 text-right">
                        <a href="javascript:void(0)" class="btn btn-default btn-info" onclick="GetCustomerInfomationForSubSiteOffice()">Edit</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 main-office-blk-right">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Software Identification Information</h3>

                    <table class="table table-striped table-bordered table-hover ">
                        <tbody>
                            <tr>
                                <td>User ID</td>
                                <td><span id="spMasterUserID"></span></td>
                            </tr>
                            <tr>
                                <td>Transmission Password</td>
                                <td><span id="spTransmissionpwd"></span></td>
                            </tr>
                            <tr>
                                <td>Master ID</td>
                                <td><span id="spMasterident"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/customerInformation.js"></script>
}

<script>
    $(document).ready(function () {
        GetCustomerInfomationForMainOffice();
    });
</script>
