<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EMPDBEntities" connectionString="metadata=res://*/Edmx.EMPEDMX.csdl|res://*/Edmx.EMPEDMX.ssdl|res://*/Edmx.EMPEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_uTax_Jun092017;persist security info=True;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPDB_CSREntities" connectionString="metadata=res://*/Edmx.EMPCSREDMX.csdl|res://*/Edmx.EMPCSREDMX.ssdl|res://*/Edmx.EMPCSREDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_CSR;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPDB_ARCEntities" connectionString="metadata=res://*/Edmx.EMPARCEDMX.csdl|res://*/Edmx.EMPARCEDMX.ssdl|res://*/Edmx.EMPARCEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_uTax_Jun092017;persist security info=True;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AuditLogRequired" value="1" />
    <add key="ProductDocuments" value="ProductDocuments" />
    <add key="TokenExpiredOn" value="180" />
    <add key="PassworHashKey" value="Kensium" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="DownloadPath" value="D:\Git Projects\uTax\New folder\EMPWebAPI\EMPPortalWebAPI\Download\" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CrosslinkWS17Soap" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2097152">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://devws.petzent.com/CrosslinkWS/WS/crosslinkws17.asmx" binding="basicHttpBinding" bindingConfiguration="CrosslinkWS17Soap" contract="CrosslinkService.CrosslinkWS17Soap" name="CrosslinkWS17Soap" />
    </client>
  </system.serviceModel>
</configuration>