
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Bank Master/Bank Sub Question</h2>
</div>

<input type="hidden" id="BankId" name="BankId" value="@ViewBag.Id" />
@if (Session.Count > 0)
{
    <input type="hidden" id="UserId" name="UserId" value="@Session["UserId"].ToString()" />
    <input type="hidden" id="UserRoleId" name="UserRoleId" value="@Session["UserRoleId"].ToString()" />
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <h2 class="panel-title" id="banksubquestionlink"></h2>
            </div>
            <div class="panel-body">
                <table id="table_BankSubQuestion" class="table">
                    <thead>
                        <tr>
                            <th>Questions</th>
                            @*<th>Status</th>*@
                            <th style="width:10%;"></th>
                        </tr>
                    </thead>

                </table>
                <!-- books -->
            </div>
        </div>

    </div>



    <!-- ko if:detail() -->
</div>

@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/banksubquestion.js"></script>
}

<script>
    $(document).ready(function () {
        var BankId = $('#BankId').val();
        getAllBankSubQuestion(BankId);

        var userId = $("#UserId").val();
        var roleId = $("#UserRoleId").val();

        ctrlAddLink = $("#AddLink");
        ctrlEditLink = $("table#table_BankSubQuestion .EditLink");
        ctrlActiveInactiveLink = $("table#table_BankSubQuestion .ActiveInactiveLink");
        getScreenPermissions(ctrlAddLink, ctrlEditLink, ctrlActiveInactiveLink,'', userId, roleId);
    });
</script>
