<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ProductDocuments" value="ProductDocuments"/>
    <add key="TokenExpiredOn" value="180"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="EMPAdminWebAPI_S" value="http://192.168.10.33:1001" />
    <add key="EMPAdminWebAPI" value="http://localhost:9001" />
    <add key="UploadDocumentPath" value="E:\GitProjects\uTaxPortal\EMPAdmin\EMPAdmin\ProductDocuments\" />
  </appSettings>

</configuration>
