@using EMPPortal.Filters;
@{
    ViewBag.Title = "EnrollmentStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />
<input type="hidden" id="formid" name="formid" value="active" formid="site1c157f32-aa0f-4689-a27b-ca154e9763c4" sitemapid="1c157f32-aa0f-4689-a27b-ca154e9763c4" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="padding:10px 0;">Enrollment Status Report</h3>
            </div>
            <div class="col-md-12" style="padding-top:8px;">
                <div class="col-md-4 drop-select" id="dvMain">
                    <label>Main Customers</label>
                    <select id="CustomerID" name="CustomerID" onchange="fnCustomerChange()" multiple="multiple"></select>
                </div>
                <div class="col-md-4 drop-select" id="dvSub" style="display:none;">
                    <label>Sub Site Customers</label>
                    <select id="subCustomerID" name="subCustomerID" class="multiselect-btn" multiple="multiple"></select>
                </div>
                <div class="col-md-4 margin-top-20" id="dvSub1" style="display:none;">
                    <a href="javascript:void(0)" class="btn btn-default filter-btn customer-btn btn-info" onclick="fn_Search()">Search</a>
                    <a href="javascript:void(0)" class="btn btn-default filter-btn customer-btn btn-info" onclick="fn_Reset()">Reset</a>
                </div>
            </div>

            <div class="table-responsive panel-body">
                <table id="tbl_enrollmentstatus" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Master ID</th>
                            <th>EFIN</th>
                            <th>User ID</th>
                            <th>Parent User Id</th>
                            <th>Company</th>
                            <th>Bank</th>
                            <th>Status</th>
                            <th>SB Fee</th>
                            <th>Add-on Fee</th>
                            <th>Date of Submission</th>
                            <th>Last Modiefied Date</th>
                            <th>Last Modified User</th>
                            <th>Account Owner</th>
                            <th>Error Message</th>
                        </tr>
                    </thead>
                    <tbody id="tbd_enrollment"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Html.IncludeVersionedJs("/Scripts/app/Rpt_EnrollmentStatus.js")
    @Html.IncludeVersionedJs("/Scripts/app/Rpt_FeeSetupReport.js")
}

<script>
    var today = new Date();
    var Current_Date = today.getDate() + '/' + today.getMonth() + '/' + today.getFullYear() + '  ' + today.getHours() + ':' + today.getMinutes();

    $(document).ready(function () {
        getMainCustomer($('#CustomerID'));
        $('#CustomerID').multiselect({
            includeSelectAllOption: true,
            selectAllNumber: false,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '400px'
        });
        if ($('#myentityid').val() != 1) {
            $('#tbl_enrollmentstatus').DataTable({
                "bSort": false,
                dom: 'Bfrtip',
                buttons: [
                //    {
                //    extend: "excel",
                //    exportOptions: {
                //        columns: ':visible'
                //    },
                //    text: '<i class="fa fa-file-excel-o"></i> EXCEL',
                //    orientation: 'landscape'
                //},
                {
                    extend: "print",
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: '<i class="fa fa-print"></i> Print',
                    orientation: 'landscape'
                }, {
                    extend: "csv",
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: '<i class="fa fa-file-excel-o"></i> CSV',
                    orientation: 'landscape'
                }, {
                    extend: "pdf",
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: '<i class="fa fa-file-pdf-o"></i> PDF',
                    orientation: 'landscape',
                    title: 'Enrollment Status Report',
                    message: 'Date Time : ' + Current_Date
                }],
                "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [10],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [11],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [12],
                    "visible": false,
                    "searchable": false
                }]
            });

        }
        else {
            $('#tbl_enrollmentstatus').DataTable({
                "bSort": false,
                dom: 'Bfrtip',
                buttons: [
                     //{
                     //    extend: "excel",
                     //    text: '<i class="fa fa-file-excel-o"></i> EXCEL',
                     //},
                     {
                         extend: "print",
                         text: '<i class="fa fa-print"></i> Print'
                     }, {
                         extend: "csv",
                         text: '<i class="fa fa-file-excel-o"></i> CSV'
                     }, {
                         extend: "pdf",
                         text: '<i class="fa fa-file-pdf-o"></i> PDF',
                         orientation: 'landscape',
                         pageSize: 'LEGAL',
                         title: 'Enrollment Status Report',
                         message: 'Date Time : ' + Current_Date
                     }
                ],
            });
        }
        getEnrollmentList($('#UserId').val());
        if ($('#myentityid').val() != 1) {
            $('#CustomerID').val($('#UserId').val());
            $("#CustomerID").multiselect("refresh");
            fnCustomerChange();
            $('#dvMain').css('pointer-events', 'none');
        }
    });

    function fn_Search() {
        var custid = $('#CustomerID').val();
        if (custid == "") {
            $('#CustomerID').addClass("error_msg");
            $('#CustomerID').attr('title', 'Please Select Customers');
        } else {
            if ($('#subCustomerID').val() != null && $('#subCustomerID').val() != "") {
                getEnrollmentList($('#subCustomerID').val());
            }
            else {
                getEnrollmentList(custid);
            }
        }
    }

    function fnCustomerChange() {
        $('#dvSub').hide();
        $('#dvSub1').hide();
        if ($('#CustomerID').val()) {
            var custid = $('#CustomerID').val();
            if (custid) {
                $('#dvSub').show();
                $('#dvSub1').show();
                getSubCustomer($('#subCustomerID'), custid);
                $('#subCustomerID').multiselect('destroy');
                $('#subCustomerID').multiselect({
                    includeSelectAllOption: true,
                    selectAllNumber: false,
                    enableCaseInsensitiveFiltering: true,
                    buttonWidth: '400px'
                });
            }
        }
    }

    function fn_Reset() {
        $('#CustomerID').val(0);
        $('#CustomerID').multiselect('destroy');
        $('#CustomerID').multiselect({
            includeSelectAllOption: true,
            selectAllNumber: false,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '400px'
        });
        $('#subCustomerID').val(0);
        $('#subCustomerID').multiselect('destroy');
        $('#subCustomerID').multiselect({
            includeSelectAllOption: true,
            selectAllNumber: false,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '400px'
        });
        fn_Search();
    }
</script>
