@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="page-header">
        @if (ViewBag.Id == "00000000-0000-0000-0000-000000000000")
        {
            <h2>Create Security Question</h2>
        }
        else
        {
            <h2>Edit Security Question</h2>
        }
    </div>

    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" id="Id" value="@ViewBag.Id" />
    <input type="hidden" id="UserId" name="UserId" value="@Session["UserId"].ToString()" />

    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label mandatory">Question</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="Question" name="Question" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label">Description</label>
            </div>
            <div class="col-md-4">
                <textarea id="Description" name="Description" class="form-control"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Submit" class="btn btn-default" onclick="fnSaveSecurityQuestion();" />
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/securityquestion.js"></script>
}


<script type="text/javascript">
    $(document).ready(function () {
        var Id = $('#Id').val();
        getSecurityQuestionDetail(Id);
    });

</script>
