<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DatabaseEntities" connectionString="metadata=res://*/Edmx.uTaxEdmx.csdl|res://*/Edmx.uTaxEdmx.ssdl|res://*/Edmx.uTaxEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=uTax;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BookAuthorDBEntities" connectionString="metadata=res://*/Edmx.uTaxEdmx.csdl|res://*/Edmx.uTaxEdmx.ssdl|res://*/Edmx.uTaxEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=uTax;user id=sa;password=kspl1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EMPDBEntities" connectionString="metadata=res://*/Edmx.EMPEDMX.csdl|res://*/Edmx.EMPEDMX.ssdl|res://*/Edmx.EMPEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_uTax_13072017;persist security info=True;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPDB_CSREntities" connectionString="metadata=res://*/Edmx.EMPCSREDMX.csdl|res://*/Edmx.EMPCSREDMX.ssdl|res://*/Edmx.EMPCSREDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_CSR;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPDB_ARCEntities" connectionString="metadata=res://*/Edmx.EMPARCEDMX.csdl|res://*/Edmx.EMPARCEDMX.ssdl|res://*/Edmx.EMPARCEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_uTax_Jun092017;persist security info=True;user id=sa;password=kspl1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>