<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TemplatePath" value="D:\Git Projects\uTax\uTaxEmailService\uTaxEmailService\EmailTemplates"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="manikishorea@kensium.com"/>
    <add key="SMTPPassword" value="Avskmk@1990"/>
    <add key="URL" value="http://182.73.138.108:1204"/>
    <add key="AdminURL" value="http://182.73.138.108:1203"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="data source=192.168.10.128\sqlexpress;initial catalog=EMPDB_uTax_13072017;user id=sa;password=kspl1234;" name="sqlConnection" />
  </connectionStrings>
</configuration>