@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row bank-enroll">
    <div class="col-md-12">
        <h2 class="page-title">Bank Enrollment -TPG</h2>
        <div class="panel panel-default">
            <div class="panel-body">
               <h3> Add On Fee Reimbursements</h3>
                     
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Company Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Manager's First Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Manager's Last Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="20">
                        </div>
                    </div>
                </div>
           

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="40"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="22">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="2">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label class="control-label">Office Zip Code</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="9">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Office Telephone Number</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Fax</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Shipping Address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Shipping City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Shipping State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label class="control-label">Shipping Zip Code</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Manager's Email Address</label>
                            <input type="email" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>
                <hr class="bank-enroll-divider" />
                <h3>EFIN Owner Information</h3>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's EIN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's First Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's Last Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's Address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner's State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label class="control-label">EFIN Owner's Zip Code</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label class="control-label">EFIN Owner's Telephone Number</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label class="control-label">EFIN Owner's Date of Birth</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label class="control-label">EFIN Owner’s Email Address</label>
                            <input type="email" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>
                <hr class="bank-enroll-divider" />
                <h3>Prior Year Information</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Bank Used Last Year</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Prior Year EFIN (if not the same)</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Prior Year Volume</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Prior Year Bank Products Funded</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>
                <hr class="bank-enroll-divider" />
                <h3>Fee Deposit Bank Account Information</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office RTN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office DAN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office ACCT Type</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>









            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-default btn-info">Save</a>
        </div>
    </div>

</div>


@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/customerInformation.js"></script>
}

<script>
    $(document).ready(function () {
        getAllCustomerInformation();
    });
</script>
