@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row bank-enroll">
    <div class="col-md-12">
        <h2 class="page-title">Bank Enrollment - Republic Bank</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Office Information</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical Street Address</label>
                            <textarea id="textArea" rows="2" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical Zip Code </label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Contact First Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Contact Last Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Contact SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Manager First Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Manager Last Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Manager SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Manager DOB</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact First Name 1</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact Last Name 1</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                   
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact 1 Email</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact 1 SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact First Name 2</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact Last Name 2</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>


                </div>

                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact 2 Email</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Alternate Office Contact 2 SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical Street Address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical Address 2</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                 

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Office Physical Zip Code</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Mailing Address</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Mailing City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Mailing State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Mailing Zip</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>
   
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Fulfillment Shipping Street Address</label>
                            <textarea id="textArea" rows="1" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Fulfillment Shipping City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>


                </div>

                <div class="row">
                   
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Fulfillment Shipping State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Fulfillment Shipping Zip Code</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Website Address</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Years In Business</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Number Of Bank Products Last Year</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Previous Bank Product Facilitator</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Actual Number of Bank Products Last Year</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>



                </div>
                <hr class="bank-enroll-divider" />
            <h3>Business Owner Information</h3>
            
             <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner First Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner Last Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner DOB</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner Home Phone</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner Address</label>
                            <textarea id="textArea" rows="1" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner State</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Owner Zip</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Legal Entity Status Indicator</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">LLC Membership Registration</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                   

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Business Name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Business EIN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Business Incorporation Date</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>


                </div>
                <hr class="bank-enroll-divider" />
                <h3>EFIN Owner Information</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">First Name of Registered EFIN Owner</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Last Name of Registered EFIN Owner</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner DOB</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Is EFIN part of a multi-office?  </label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bank-enroll-divider" />
                <h3>General Questions</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">What products are you offering?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Refund Transfers only
                                </label>
                            </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sample3" value="option3">
                                        Refund Transfers and EASY Advances
                                    </label>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Does this office location transmit to the IRS for the assigned EFIN?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Will you ensure all tax preparers working in your office obtain a Preparer Tax Identification Number (PTIN), as required by the IRS?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">If required by state and/or local laws and regulations, will you possess all licenses and/or certifications for preparing and/or facilitating Bank Products? </label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    Not Required
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">If required by your state and/or local laws and regulations, will you be in compliance with all posting, written, advertising and/or oral disclosure laws related to tax preparation and/or Bank Products?  </label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    Not Required
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Number of all personnel who will be offering or discussing Republic Bank products or who have access to customer information in conjunction with tax preparation services.</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <label class="control-label">Before using any advertising or marketing of Bank Products, will you first receive approval from Republic Bank?  This includes but is not limited to radio or television scripts, videos, newspaper or magazine ads, internet websites or advertisements, social media websites, point-of-sale materials, direct mail pieces, emails, newsletters, announcements, PowerPoint presentations and/or training manuals.</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    Not Required
                                </label>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Indicates if the ERO is requesting to participate in the Software Purchase Assistance (SPA) Program.</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample3" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample3" value="option3">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Requested Software Purchase Assistance Amount. MUST BE POPULATED BY SOFTWARE PARTNER.</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Date and Time ERO agreed to Software Purchase Assistance Program. MUST BE POPULATED BY SOFTWARE PARTNER.</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Retail Pricing Method selected by ERO. </label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>
                <hr class="bank-enroll-divider" />
                <h3>Security Questions</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you store current year and previous year customer Bank Product documents in a locked room, locked filing cabinet, locked desk drawer or secured electronically when not in use?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you keep printed checks, check stock, and prepaid cards in a locked cabinet, safe or drawer?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you keep all office and access doors locked when no employees are on site?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you limit access to customer documents and information to yourself and your authorized employees?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you have and follow a plan to properly dispose of customer information when it is no longer needed? (Acceptable options may include using a shredder in your office, hiring a shredding service or securely incinerating documents.)</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you require each user to log into the software with a user ID and password unique to each employee for all of the computers used in the preparation of Bank Product Applications?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you run an anti-virus software program that is regularly updated at least every 30 calendar days on all computers used in preparation of Bank Product Applications?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you protect all computers used in the preparation of Bank Product Applications with a firewall?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you require all of your employees, contractors or affiliates who will offer or discuss Bank Products or who have access to customer information in conjunction with Bank Products to take the online training course required by Republic Bank?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                   

                </div>
                <hr class="bank-enroll-divider" />
                <h3>Secure Wireless Network</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Will you require a password to access your Wireless Network (wifi)? (If one is used)</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    Not Applicable
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Date and time ERO application was completed. </label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <label class="control-label">ERO has received, read and understands the Republic ERO agreement and agrees to allow Republic to obtain a credit report and background check on the business entity and/or owner.</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                  

                </div>

                <hr class="bank-enroll-divider" />
                <h3>Fee Deposit Bank Account Information</h3>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Name on Checking Account</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Bank Routing Number</label>
                            <input type="number" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Bank Account Number</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label class="control-label">Bank Account Type</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option1" checked="">
                                    Checking
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option2">
                                    Savings
                                </label>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-default btn-info">Save</a>
        </div>
    </div>

</div>


@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/customerInformation.js"></script>
}

<script>
    $(document).ready(function () {
        getAllCustomerInformation();
    });
</script>
