@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row bank-enroll">
    <div class="col-md-12">
        <h2 class="page-title">Bank Enrollment - Refund Advantage</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3> EFIN Owner Information</h3>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner email address</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner first name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner last name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner SSN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner Date of birth</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner cell phone</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner home phone</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner Address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner City</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN owner state abbreviation</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN owner zip code</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                 
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner state issued ID number</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owner ID issuing state abbreviation</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>
                <hr class="bank-enroll-divider" />
                <h3>ERO Information</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Company Name of the ERO office</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO office street address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO office city</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO office state abbreviation</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO office zip</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO office phone</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO mailing street address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO mailing city</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO mailing state abbreviation</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO mailing zip code</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO shipping address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO shipping city</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO shipping state abbreviation</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO Shipping Zip</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">ERO shipping address</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">City of address ERO used to obtain EFIN from IRS</label>
                            <textarea id="textArea" rows="3" class="form-control" maxlength="35"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">State abbreviation of address used to obtain EFIN from IRS</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Zip Code of address used to obtain EFIN from IRS</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Previous year volume in whole number</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Expected current year volume in whole number</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Previous year bank name</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Corporation Type of the business.</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">A collection of business Owners.</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">A collection of contacts that are neither the EFIN owner nor the Business Owner.</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Number of years experience the owner has with filing</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Has anyone associated with this business ever been assessed preparer penalties, convicted of a criminal offense under federal revenue laws, or been barred from practice before the IRS or U.S Tax Court?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sample1" value="option3" checked="">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="sample2" value="option3">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">We may be required to issue a 1099 to you at the end of the year.  If you submit a Business Federal ID number, it will be issued to this number.  Otherwise it will be issued to the EFIN owner’s SSN with no dashes</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Business EIN</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">EFIN Owners title</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Was this user a client of yours last year?  </label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>
                <hr class="bank-enroll-divider" />
                <h3>Fee Deposit Bank Account Information</h3>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Bank routing number (ABA rules)</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Bank account number</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Bank Account Type</label>
                            <input type="text" id="inputDefault" class="form-control" maxlength="35">
                        </div>
                    </div>

                </div>








            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-default btn-info">Save</a>
        </div>

    </div>

</div>


@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/customerInformation.js"></script>
}

<script>
    $(document).ready(function () {
        getAllCustomerInformation();
    });
</script>
