@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row bank-blk">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
              

                <div class="row">
                    <div class="col-md-12"> Search:
                    <input id="filter" type="text"></div>
                </div>

                <div class="table-responsive office-table">
                    <table class="table table-striped toggle-circle-filled" data-filter="#filter">
                        <thead>
                            <tr>
                                <th data-toggle="true">Add Sub-site</th>
                                <th>Account Status</th>
                                <th>Company</th>
                                <th>Contact</th>
                                <th>User ID</th>
                                <th>EFIN</th>
                                <th>Active Bank</th>
                                <th>Bank Enroll Date</th>
                                <th>Bank Enroll Status</th>
                                <th>Bank Enroll Edit</th>
                                <th>Total Trans Fee</th>
                                <th>Total SBV Fee</th>
                                <th>Onboard Stage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Review</td>
                                <td>Bravo Fast Tax</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Charlie’s Taxes</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>

                            <tr>
                                <td><i class="material-icons">add_box</i></td>
                                <td>Active</td>
                                <td>Happy Tax Service</td>
                                <td>James Dean</td>
                                <td>23578</td>
                                <td>775852</td>
                                <td>TPG</td>
                                <td>11/5/16</td>
                                <td>Accepted</td>
                                <td><i class="material-icons">border_color</i></td>
                                <td>$50</td>
                                <td>$10</td>
                                <td>In Progress</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="13">
                                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>





            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-default btn-info">Save</a>
        </div>

    </div>

</div>


@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/customerInformation.js"></script>
}
<script type="text/javascript">
jQuery(document).ready(function () {
    jQuery(".office-table .table").footable();
});
</script>
