<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SourceDBServerName" value="192.168.10.31\sql2014e"/>
    <add key="SourceDBName" value="sandbox"/>
    <add key="SourceDBUsername" value="sa"/>
    <add key="SourceDBPassword" value="kspl@1234"/>
    <add key="SourceDBTrustedConnection" value="0"/>
    <add key="DestDBServerName" value="192.168.10.128\sqlexpress"/>
    <add key="DestDBName" value="EMPDB_12262016_B1"/>
    <add key="DestDBUsername" value="sa"/>
    <add key="DestDBPassword" value="kspl1234"/>
    <add key="DestDBTrustedConnection" value="0"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="utaxdevelopment@gmail.com"/>
    <add key="SMTPPassword" value="uTax@123"/>
    <add key ="ToEmail" value="utaxdevelopment@gmail.com"/>
    <add key="CommandTimeout" value="10000"/>
    <add key="LinkedDBName" value="Sandbox..."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
