@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Phone Type Master</h2>
</div>

@if (Session.Count > 0)
{
    <input type="hidden" id="UserId" name="UserId" value="@Session["UserId"].ToString()" />
    <input type="hidden" id="UserRoleId" name="UserRoleId" value="@Session["UserRoleId"].ToString()" />
    <input type="hidden" id="SiteMapID" name="SiteMapID" value="70221425-9a8f-4368-92c5-9fb7638734eb" />
}
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <h2 class="panel-title" id="AddLink">
                    <a data-target="#popup" data-toggle="modal" id="btnCreate" href="javascript:void(0)">
                        <i class="fa fa-plus" aria-hidden="true" title="Add Phone Type"></i> Add Phone Type
                    </a>
                </h2>
            </div>
            <div class="panel-body">
                <div class="row cst-search-table search-table">
                    <button type="button" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <div class="search-block">
                        Search:
                        <input id="filter" type="text" class="form-control">
                    </div>
                </div>
                <div class="office-table">
                    <table id="table_phonetype" class="table table-striped toggle-circle-filled" data-filter="#filter">
                        <thead>
                            <tr>
                                <th style="width:40%;">Name</th>
                                <th style="width:40%;">Description</th>
                                @*<th style="width:20%;">ActivatedDate</th>*@

                                <th style="width:10%;">Status</th>
                                <th style="width:10%;" class="no-sort" data-sort-ignore="true"></th>
                            </tr>
                        </thead>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- books -->
                    </div>
                    <div class="modal fade bs-example-modal-lg" id="popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <input type="hidden" id="Id" value="00000000-0000-0000-0000-000000000000" />
                        <input type="hidden" id="UserId" name="UserId" value="@Session["UserId"].ToString()" />

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                                    <div class="panel-heading" id="Phonetype_popup">
                                        <h2 class="panel-title">Create Phone Type</h2>
                                    </div>
                                </div>
                                @using (Html.BeginForm("CreateUser", "User", FormMethod.Post, new { @id = "CreateUser" }))
                                {
                                    <div class="alert-success" style="display:none;" id="popup_success"><p></p></div>
                                    <div class="alert-danger" style="display:none;" id="popup_error"><p></p></div>
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="message-text" class="control-label mandatory">Phone Type</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" id="PhoneType" class="form-control" maxlength="30" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="message-text" class="control-label">Description</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <textarea id="Description" class="form-control" maxlength="150"></textarea>
                                                    </div>
                                                </div>


                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" value="Submit" class="btn btn-default" onclick="fnSavePhoneType();" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="fnCancle()">Cancel</button>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
        </div>

    </div>



    <!-- ko if:detail() -->
</div>

@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/phonetype.js"></script>
}

<script>
    $(document).ready(function () {
        jQuery(".office-table .table").footable();
        $(".search_icon").click(function () {
            $(".search-block").slideToggle();
        });
        getAllPhoneType();
        CallGridFunctionality();
    });

    function CallGridFunctionality()
    {
        var userId = $("#UserId").val();
        var roleId = $("#UserRoleId").val();

        ctrlAddLink = $("#AddLink");
        ctrlEditLink = $("table#table_phonetype .EditLink");
        ctrlActiveInactiveLink = $("table#table_phonetype .ActiveInactiveLink");
        getScreenPermissions(ctrlAddLink, ctrlEditLink, ctrlActiveInactiveLink, '', userId, roleId);
    }

    $('#btnCreate').click(function () {
        fnCancle();
    });
</script>
