
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Tooltip Master</h2>
</div>
@if (Session.Count>0)
{
    <input type="hidden" id="UserId" name="UserId" value="@Session["UserId"].ToString()" />
    <input type="hidden" id="UserRoleId" name="UserRoleId" value="@Session["UserRoleId"].ToString()" />
    <input type="hidden" id="SiteMapID" name="SiteMapID" value="d3334fed-4c59-47a7-8466-586e98d1c5a4" />
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> &nbsp;
                <h2 class="panel-title">Tooltip</h2>
            </div>
            <div class="panel-body" id="div_user">
                <div class="row cst-search-table search-table">
                    <button type="button" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <div class="search-block">
                        Search:
                        <input id="filter" type="text" class="form-control">
                    </div>
                </div>
                <div class="office-table">
                    <table id="table_tooltip" class="table table-striped toggle-circle-filled" data-filter="#filter">
                        <thead>
                            <tr>
                                <th style="width:20%">Sitemap</th>
                                <th style="width:30%">Field</th>
                                <th style="width:30%">ToolTip</th>
                                <th style="width:10%">Displayed On Front End</th>
                                <th style="width:10%" class="no-sort" data-sort-ignore="true"></th>
                            </tr>
                        </thead>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- books -->
                </div>
            </div>
        </div>

    </div>



    <!-- ko if:detail() -->
</div>

@section scripts {
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/tooltip.js"></script>
}

<script>
    $(document).ready(function () {

        jQuery(".office-table .table").footable();
        $(".search_icon").click(function () {
            $(".search-block").slideToggle();
        });
        getAllTooltip();
        GridFunctionality();
    });

    function GridFunctionality() {
        var userId = $("#UserId").val();
        var roleId = $("#UserRoleId").val();

        ctrlAddLink = $("#AddLink");
        ctrlEditLink = $("table#table_tooltip .EditLink");
        ctrlActiveInactiveLink = $("table#table_tooltip .ActiveInactiveLink");
        getScreenPermissions(ctrlAddLink, ctrlEditLink, ctrlActiveInactiveLink, '', userId, roleId);
    }
   
   
</script>
