
@{
    ViewBag.Title = "Index";
}

 

<div class="form-horizontal">
    <h4>Forgot Password</h4>
    <hr />
    <div class="form-group">
        <div class="alert-success" style="display:none;" id="popup_success"><p></p></div>
        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label mandatory">User ID:</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="UserId" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label mandatory">Security Questions: </label>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <select id="Question1" name="QuestionId1" class="btn dropdown-btn"></select> @*onchange="return getGroupRoleMap(this);"*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label">Answer</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Answer1" />

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label mandatory">Security Questions: </label>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <select id="Question2" name="QuestionId2" class="btn dropdown-btn"></select> @*onchange="return getGroupRoleMap(this);"*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="message-text" class="control-label">Answer</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Answer2" />

            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Submit" class="btn btn-default" onclick="fnForgotPassword();" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="fnCancel();" />
        </div>
    </div>
</div>