@using EMPPortal.Filters;
<input type="hidden" id="formid" name="formid" value="active" formid="site2f7d1b90-78aa-4a93-85ec-81cd8b10a545" sitemapid="2f7d1b90-78aa-4a93-85ec-81cd8b10a545" />
<h2 class="page-title">Affiliate Configuration Details</h2>
<input type="hidden" id="Id" name="Id" />
<div id="divEnrollAffliateForm">
    <div class="panel panel-default cst-panel">
        <div class="panel-body">
            <div class="multi-question">
                <div class="support-language">
                    <div class="form-group">
                        <label>Which affiliate programs will you offer your customers?</label>
                        <span class="cst-tooltip"><a class="ttip" id="ttip8e2f1f6b-5614-4294-b53e-f9c6b60ec0f0" style="display:none;" href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right"><i class="fa fa-info" aria-hidden="true"></i></a></span>
                        <div class="checkbox cst-label col-md-12" id="divAffiliates">
                        </div>
                    </div>
                </div>
                <div class="support-language" id="diviProtect">
                    <div class="form-group">
                        <label>iProtect allows you to mark-up the base fee to earn extra revenue on each iProtect product you sell, total price up to $99. Please enter the amount, up to $50, you wish to add-on below.</label>
                        <label>
                            <input type="number" name="AffiliateProgramCharge" value="20" min="0" max="50" maxlength="2" pattern="([0-9]{3})" id="chk25a4379b-4df1-4a65-aec1-30dcd587eeb7_charge" class="decimal form-control" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-10">
        <a href="javascript:void(0)" class="btn btn-default" onclick="fnSaveEnrollAffiliateConfig(0)">Save</a>
        <a href="javascript:void(0)" id="btnEnrollAffSaveNext" class="btn btn-default" onclick="fnSaveEnrollAffiliateConfig(1)">Save &amp; Next</a>
    </div>
</div>
@section scripts {
    @Html.IncludeVersionedJs("/Scripts/app/EnrollAffiliateConfig.js")
}

<script>
    $(document).ready(function () {
        getTooltip();
        getAffiliateEnroll_Sub($('#divAffiliates'));
        $('#diviProtect').hide();
        //  fnGetEnrollAffiliateConfig($('#UserId').val());   --- Moved into getAffiliateEnroll_Sub($('#divAffiliates'));
        //setTimeout(function () {
        //    if ($('#site067c03a3-34f1-4143-beae-35327a8fca44').length <= 0)
        //        $('#btnEnrollAffSaveNext').css('pointer-events', 'none').attr('disabled', 'disabled');
        //})
    });

    function chkBelowinfo(e) {
        $('#diviProtect').hide();
        var bval = false;
        $('.chkAEAffiliate').each(function (e) {
            var id = $(this).attr('Id');
            var isChecked = $(this).is(':checked');
            var chkname = $(this).attr('chkname');
            if (chkname == 'iProtect' && isChecked) {
                bval = true;
            }
        });

        if (bval) {
            $('#diviProtect').show();
        }
    }


</script>

