<h2 class="page-title">Bank Enrollment - Republic Bank</h2>
<div class="panel panel-default subsite">
    <div class="utax-tabs new-label">
        <div class="bs-component">
            <ul style="margin-bottom: 15px;" class="nav nav-tabs active-tabs bankenroll-ul-tab">
                <li class="active"><a href="#dvoffice" id="a_office">Office Information</a></li>
                <li><a href="#dvowner" id="a_bowner">Business Owner Information</a></li>
                <li><a href="#dvefinowner" id="a_eowner">EFIN Owner Information</a></li>
                <li><a href="#dvGeneral" id="a_general">General Questions</a></li>
                <li><a href="#dvsqus" id="a_secQtns">Security Questions</a></li>
                <li><a href="#dv_bankinfo" id="a_bank">Fee Deposit Bank Account Information</a></li>
                <li><a href="#dv_fee" id="a_fee">Fee Information</a></li>
            </ul>
            <div class="tab-content tab-tpg" id="myTabContent">
                <div id="dvoffice" class="tab-pane fade active in">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group is-empty">
                                <label for="txt_officename" class="control-label mandatory"><b>Office Name</b></label>
                                <input type="text" id="txt_officename" class="form-control" maxlength="35" onkeypress="CompanyNameRegex(event)" onblur="removeCompanyName(this)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group is-empty">
                                <label class="control-label"><b>Office Contact Person Details</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offcntFN" class="control-label mandatory">First Name</label>
                                <input type="text" id="txt_offcntFN" class="form-control" maxlength="15" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offcntLN" class="control-label mandatory">Last Name</label>
                                <input type="text" id="txt_offcntLN" class="form-control" maxlength="20" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_email" class="control-label mandatory">Email Address</label>
                                <input type="email" id="txt_email" class="form-control" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_officephone" class="control-label mandatory">Office Phone Number</label>
                                <input type="text" id="txt_officephone" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_cellphone" class="control-label">Cell Phone Number</label>
                                <input type="text" id="txt_cellphone" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offcntSSN" class="control-label mandatory">Office Contact SSN</label>
                                <input type="text" id="txt_offcntSSN" class="form-control" onkeypress="Onlydigit(event)" maxlength="4">
                                <span style="font-size:10px;color:red;">* Last 4 digit of SSN</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngrDOB" class="control-label">Office Contact Date of Birth</label>
                                <input type="text" id="txt_offContactDOB" class="form-control" maxlength="10" placeholder="MMDDYYYY or MM/DD/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group is-empty checkbox">
                                <label><input type="checkbox" id="chkManager" onclick="fnOfficeManagerCopy()"><span class="checkbox-material"><span class="check"></span></span><b> Office Manager details Same As Office Contact Person details</b> </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngrFN" class="control-label mandatory">Office Manager First Name</label>
                                <input type="text" id="txt_offmngrFN" class="form-control" maxlength="35" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngeLN" class="control-label mandatory">Office Manager Last Name</label>
                                <input type="text" id="txt_offmngeLN" class="form-control" maxlength="20" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngrSSN" class="control-label">Office Manager Email</label>
                                <input type="text" id="txt_offManagerEmail" class="form-control" maxlength="9">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngrFN" class="control-label">Manager Phone Number</label>
                                <input type="text" id="txt_offmngrPhoneNo" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngeLN" class="control-label">Manager Cell Phone Number</label>
                                <input type="text" id="txt_offmngeCellPhone" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngrSSN" class="control-label mandatory">Office Manager SSN</label>
                                <input type="text" id="txt_offmngrSSN" class="form-control" maxlength="9" onkeypress="Onlydigit(event)">
                                @*<span style="font-size:10px;color:red;">* Last 4 digit of SSN</span>*@
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_offmngrDOB" class="control-label mandatory">Office Manager Date of Birth</label>
                                <input type="text" id="txt_offmngrDOB" class="form-control" maxlength="10" placeholder="MMDDYYYY or MM/DD/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_officeaddress" class="control-label mandatory">Office Physical Street Address</label>
                                <textarea id="txt_officeaddress" rows="2" class="form-control" maxlength="35" onkeypress="AddressRegex(event)" onblur="removeAddress(this)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_officecity" class="control-label mandatory">Office Physical City</label>
                                <input type="text" id="txt_officecity" class="form-control" maxlength="25" onkeypress="CityRegex(event)" onblur="removeCity(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="ddl_officestate" class="control-label mandatory">Office Physical State</label>
                                <select id="ddl_officestate" name="ddlofficestate" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_officezip" class="control-label mandatory">Office Physical Zip Code </label>
                                <input type="number" id="txt_officezip" class="form-control max_5dig" max="99999" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3" style="display:none;">
                            <div class="form-group is-empty">
                                <label for="txt_faxnumber" class="control-label">Fax Number</label>
                                <input type="text" id="txt_faxnumber" class="form-control" maxlength="10" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altocFN1" class="control-label">Alternate Office Contact First Name 1</label>
                                <input type="text" id="txt_altocFN1" class="form-control" maxlength="15">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="inputDefault" class="control-label">Alternate Office Contact Last Name 1</label>
                                <input type="text" id="txt_altocLN1" class="form-control" maxlength="15">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altoc1Email" class="control-label">Alternate Office Contact 1 Email</label>
                                <input type="text" id="txt_altoc1Email" class="form-control" maxlength="75">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altoc1SSN" class="control-label">Alternate Office Contact 1 SSN</label>
                                <input type="text" id="txt_altoc1SSN" class="form-control" maxlength="4" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altocFN2" class="control-label">Alternate Office Contact First Name 2</label>
                                <input type="text" id="txt_altocFN2" class="form-control" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altocLN2" class="control-label">Alternate Office Contact Last Name 2</label>
                                <input type="text" id="txt_altocLN2" class="form-control" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altoc2Email" class="control-label">Alternate Office Contact 2 Email</label>
                                <input type="text" id="txt_altoc2Email" class="form-control" maxlength="75">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altoc2SSN" class="control-label">Alternate Office Contact 2 SSN</label>
                                <input type="text" id="txt_altoc2SSN" class="form-control" maxlength="4" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altoffadd" class="control-label">Office Physical Street Address</label>
                                <textarea id="txt_altoffadd" rows="3" class="form-control" maxlength="35"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_altoffadd2" class="control-label">Office Physical Address 2</label>
                                <textarea id="txt_altoffadd2" rows="3" class="form-control" maxlength="35"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_altoffcity" class="control-label">Office Physical City</label>
                                <input type="text" id="txt_altoffcity" class="form-control" maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="ddl_altofficestate" class="control-label">Office Physical State</label>
                                <select id="ddl_altofficestate" name="ddlaltofficestate" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_altoffzip" class="control-label">Office Physical Zip Code</label>
                                <input type="number" id="txt_altoffzip" class="form-control max_5dig" max="99999" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group is-empty checkbox">
                                <label><input type="checkbox" id="chkMailManager" onclick="fnMailingAddressCopy()"><span class="checkbox-material"><span class="check"></span></span><b> Mailing Address Same As Office Address</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_mailaddress" class="control-label mandatory">Mailing Address</label>
                                <textarea type="text" id="txt_mailaddress" class="form-control" maxlength="50" onkeypress="AddressRegex(event)" onblur="removeAddress(this)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_mailcity" class="control-label mandatory">Mailing City</label>
                                <input type="text" id="txt_mailcity" class="form-control" maxlength="22" onkeypress="CityRegex(event)" onblur="removeCity(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="ddl_mailstate" class="control-label mandatory">Mailing State</label>
                                <select id="ddl_mailstate" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_mailzip" class="control-label mandatory">Mailing Zip</label>
                                <input type="number" id="txt_mailzip" class="form-control max_5dig" max="99999" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group is-empty checkbox">
                                <label><input type="checkbox" id="chkShipping" onclick="fnShippingAddressCopy()"><span class="checkbox-material"><span class="check"></span></span><b> Shipping Address Same As Office Address</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_fulladdress" class="control-label mandatory">Shipping Street Address</label>
                                <textarea id="txt_fulladdress" rows="3" class="form-control" maxlength="35" onkeypress="AddressRegex(event)" onblur="removeAddress(this)"></textarea>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_fullcity" class="control-label mandatory">Shipping City</label>
                                <input type="text" id="txt_fullcity" class="form-control" maxlength="22" onkeypress="CityRegex(event)" onblur="removeCity(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="ddl_fullstate" class="control-label mandatory">Shipping State</label>
                                <select id="ddl_fullstate" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_fullzip" class="control-label mandatory">Shipping Zip Code</label>
                                <input type="number" id="txt_fullzip" class="form-control max_5dig" max="99999" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4" style="display:none;">
                            <div class="form-group is-empty">
                                <label for="txt_actnoofbankprdcts" class="control-label">Actual Number of Bank Products Last Year</label>
                                <input type="text" id="txt_actnoofbankprdcts" class="form-control" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-12">
                            <a onclick="RBOfficeNext()" class="btn btn-default btn-info btn-nextprev">Next</a>
                        </div>
                    </div>
                </div>

                <div id="dvowner" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group is-empty">
                                <label class="control-label"><b>Business Owner Information</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownerFN" class="control-label mandatory">Owner First Name</label>
                                <input type="text" id="txt_ownerFN" class="form-control submitlock" maxlength="15" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownerLN" class="control-label mandatory">Owner Last Name</label>
                                <input type="text" id="txt_ownerLN" class="form-control submitlock" maxlength="20" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownerSSN" class="control-label mandatory">Owner SSN</label>
                                <input type="text" id="txt_ownerSSN" class="form-control submitlock" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownerDOB" class="control-label mandatory">Owner Date of Birth</label>
                                <input type="text" id="txt_ownerDOB" class="form-control submitlock" maxlength="10" placeholder="MMDDYYYY or MM/DD/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownerphone" class="control-label mandatory">Owner Home Phone</label>
                                <input type="text" id="txt_ownerphone" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_owneraddress" class="control-label mandatory">Owner Address</label>
                                <textarea id="txt_owneraddress" rows="3" class="form-control" maxlength="35" onkeypress="AddressRegex(event)" onblur="removeAddress(this)"></textarea>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownercity" class="control-label mandatory">Owner City</label>
                                <input type="text" id="txt_ownercity" class="form-control" maxlength="22" onkeypress="CityRegex(event)" onblur="removeCity(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="ddl_ownerstate" class="control-label mandatory">Owner State</label>
                                <select id="ddl_ownerstate" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_ownerzip" class="control-label mandatory">Owner Zip</label>
                                <input type="number" id="txt_ownerzip" class="form-control max_5dig" max="99999" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"><b>Legal Entity Information</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="ddl_legalentity" class="control-label mandatory">Legal Entity Status Indicator</label>
                                <select id="ddl_legalentity" class="form-control submitlock">
                                    <option value="P">Partnership</option>
                                    <option value="C">Corporation</option>
                                    <option value="L">Limited Liability Corporation (LLC)</option>
                                    <option value="T">Limited Liability Partnership</option>
                                    <option value="S">Sole Proprietorship</option>
                                    <option value="W">Personal Service Corporation</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="inputDefault" class="control-label mandatory">LLC Membership Registration</label>
                                <select id="ddl_llcmembership" class="form-control submitlock">
                                    <option value="Y">Yes, there is only one registered member of the LLC</option>
                                    <option value="N">No, there are multiple registered members</option>
                                    <option value="X">Not Applicable, not an LLC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_businessEIN" class="control-label">Business EIN</label>
                                <input type="text" id="txt_businessEIN" class="form-control" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4" style="display:none;">
                            <div class="form-group is-empty">
                                <label for="txt_businessname" class="control-label">Business Name</label>
                                <input type="text" id="txt_businessname" class="form-control" maxlength="50">
                            </div>
                        </div>


                        <div class="col-md-4" style="display:none;">
                            <div class="form-group is-empty">
                                <label for="txt_businessdate" class="control-label">Business Incorporation Date</label>
                                <input type="text" id="txt_businessdate" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-12">
                            <a onclick="RBBOPrev()" class="btn btn-default btn-info btn-nextprev">Previous</a>
                            <a onclick="RBBONext()" class="btn btn-default btn-info btn-nextprev">Next</a>
                        </div>
                    </div>
                </div>

                <div id="dvefinowner" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_efinownerFN" class="control-label mandatory">EFIN Holder First Name</label>
                                <input type="text" id="txt_efinownerFN" class="form-control" maxlength="14" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_efinownerLN" class="control-label mandatory">EFIN Holder Last Name</label>
                                <input type="text" id="txt_efinownerLN" class="form-control" maxlength="20" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_efinownerLN" class="control-label mandatory">EFIN Holder Title</label>
                                <input type="text" id="txt_efintitle" class="form-control" maxlength="50" onkeypress="Onlyalphanumaric(event)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_efinownerSSN" class="control-label mandatory">EFIN Owner SSN</label>
                                <input type="text" id="txt_efinownerSSN" class="form-control" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_efinownerDOB" class="control-label mandatory">EFIN Owner Date of Birth</label>
                                <input type="text" id="txt_efinownerDOB" class="form-control" maxlength="10" placeholder="MMDDYYYY or MM/DD/YYYY">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="ddl_multioffice" class="control-label mandatory">Is EFIN part of a multi-office?  </label>
                                <select id="ddl_multioffice" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder Address</label>
                                <textarea id="txt_efinownerAddress" class="form-control" maxlength="35" onkeypress="AddressRegex(event)" onblur="removeAddress(this)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder City</label>
                                <input type="text" id="txt_efinownercity" class="form-control" maxlength="22" onkeypress="CityRegex(event)" onblur="removeCity(this)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder State</label>
                                <select id="ddl_efinownerstate" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder Zip</label>
                                <input type="number"  id="txt_efinownerZip" class="form-control max_5dig" max="99999" maxlength="5" onkeypress="Onlydigit(event)" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder Phone</label>
                                <input type="text" id="txt_efinownerphone" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label">EFIN Holder Mobile</label>
                                <input type="text" id="txt_efinownermobile" class="form-control" maxlength="12" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder Email Address</label>
                                <input type="email" id="txt_efinowneremail" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label">EFIN Holder EIN</label>
                                <input type="text" id="txt_efinownerein" class="form-control" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder ID Number</label>
                                <input type="text" id="txt_efinowneridnumber" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">EFIN Holder ID State</label>
                                <select id="ddl_idstate" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-12">
                            <a onclick="RBEOPrev()" class="btn btn-default btn-info btn-nextprev">Previous</a>
                            <a onclick="RBEONext()" class="btn btn-default btn-info btn-nextprev">Next</a>
                        </div>
                    </div>
                </div>

                <div id="dvGeneral" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="ddl_productsoffering" class="control-label mandatory">What products are you offering?</label>
                                <span class="cst-tooltip"><a class="ttip" id="ttip18ebc922-193f-45e9-bdc4-d0115883a504" style="display:none;" href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right"><i class="fa fa-info" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_productsoffering" class="form-control">
                                    <option value="1">Refund Transfers only</option>
                                    <option value="2">Refund Transfers and EASY Advance Basic</option>
                                    <option value="3">Refund Transfers and EASY Advance Plus</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8" style="display:none;">
                            <div class="form-group is-empty">
                                <label for="ddl_locationtransmit" class="control-label">Does this office location transmit to the IRS for the assigned EFIN?</label>
                                <select id="ddl_locationtransmit" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="ddl_ptin" class="control-label mandatory">Will you ensure all tax preparers working in your office obtain a Preparer Tax Identification Number (PTIN), as required by the IRS?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_ptin" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="ddl_processlaw" class="control-label mandatory">If required by state and/or local laws and regulations, will you possess all licenses and/or certifications for preparing and/or facilitating Bank Products? </label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_processlaw" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                    <option value="X">Not Required</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">If required by your state and/or local laws and regulations, will you be in compliance with all posting, written, advertising and/or oral disclosure laws related to tax preparation and/or Bank Products?  </label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_complaince" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                    <option value="X">Not Required</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Have you been the subject of any fines, corrective actions or official orders related to violations of law or consumer compliance regulations relative to tax preparation or consumer lending?  </label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_consumerlending" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Number of all personnel who will be offering or discussing Republic Bank products or who have access to customer information in conjunction with tax preparation services.</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_noofpersoneel" class="form-control submitlock" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Before using any advertising or marketing of Bank Products, will you first receive approval from Republic Bank?  This includes but is not limited to radio or television scripts, videos, newspaper or magazine ads, internet websites or advertisements, social media websites, point-of-sale materials, direct mail pieces, emails, newsletters, announcements, PowerPoint presentations and/or training manuals.</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_advertiseapprvl" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="txt_website" class="control-label">Website Address</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_website" class="form-control" maxlength="60" placeholder="www.yourwebsiteaddress.com">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="txt_yearsinbusiness" class="control-label mandatory">Years In Business</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_yearsinbusiness" class="form-control submitlock" maxlength="2" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="txt_noofbankprdcts" class="control-label mandatory">Number Of Bank Products Last Year</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_noofbankprdcts" class="form-control submitlock" maxlength="5" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label for="ddl_prevbank" class="control-label mandatory">Previous Bank Product Facilitator</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_prevbank" class="form-control submitlock">
                                    <option value="None">None</option>
                                    <option value="Advent">Advent</option>
                                    <option value="Citizens">Citizens</option>
                                    <option value="EPSFin">EPSFin</option>
                                    <option value="RiverCity">River City</option>
                                    <option value="SBTPG">SBTPG</option>
                                    <option value="RefAdvan">Refund Advantage</option>
                                    <option value="Refundo">Refundo</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Indicates if the ERO is requesting to participate in the Software Purchase Assistance (SPA) Program.</label>
                                <select id="ddl_eroparticipation" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_spaamount" class="control-label">Requested Software Purchase Assistance Amount. MUST BE POPULATED BY SOFTWARE PARTNER.</label>
                                <input type="text" id="txt_spaamount" class="form-control" maxlength="8" onkeypress="Onlydecimal(event,'txt_spaamount')">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="txt_eroagreeddate" class="control-label">Date and Time ERO agreed to Software Purchase Assistance Program. MUST BE POPULATED BY SOFTWARE PARTNER.</label>
                                <input type="text" id="txt_eroagreeddate" class="form-control" maxlength="20">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label for="inputDefault" class="control-label">Retail Pricing Method selected by ERO. </label>
                                <select id="ddl_retailmethod" class="form-control">
                                    <option value="X">Petz</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-12">
                            <a onclick="RBGenPrev()" class="btn btn-default btn-info btn-nextprev">Previous</a>
                            <a onclick="RBGenNext()" class="btn btn-default btn-info btn-nextprev">Next</a>
                        </div>
                    </div>
                </div>

                <div id="dvsqus" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you store current year and previous year customer Bank Product documents in a locked room, locked filing cabinet, locked desk drawer or secured electronically when not in use?</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_lockeddocs" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you keep printed checks, check stock, and prepaid cards in a locked cabinet, safe or drawer?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_lockedcardschecks" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you keep all office and access doors locked when no employees are on site?</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_lockedoffice" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you limit access to customer documents and information to yourself and your authorized employees?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_limitaccess" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you have and follow a plan to properly dispose of customer information when it is no longer needed? (Acceptable options may include using a shredder in your office, hiring a shredding service or securely incinerating documents.)</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_plandispose" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you require each user to log into the software with a user ID and password unique to each employee for all of the computers used in the preparation of Bank Product Applications?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_logintoemployees" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you run an anti-virus software program that is regularly updated at least every 30 calendar days on all computers used in preparation of Bank Product Applications?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_antivirus" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you protect all computers used in the preparation of Bank Product Applications with a firewall?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_firewall" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you require all of your employees, contractors or affiliates who will offer or discuss Bank Products or who have access to customer information in conjunction with Bank Products to take the online training course required by Republic Bank?</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_onlinetraining" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Will you require a password to access your Wireless Network (wifi)? (If one is used)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_pwdrqd" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">
                                    Are you using a supported operating system (i.e. Windows 7, 8, or 10 or MacOS 10.7-10.11)?
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_wifipwd" class="form-control submitlock">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-12">
                            <a onclick="RBSQPrev()" class="btn btn-default btn-info btn-nextprev">Previous</a>
                            <a onclick="RBSQNext()" class="btn btn-default btn-info btn-nextprev">Next</a>
                        </div>
                    </div>
                </div>

                <div id="dv_bankinfo" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_accountname" class="control-label mandatory">Name on Deposit Account</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_accountname" class="form-control" maxlength="35" onkeypress="NameRegex(event)" onblur="removeName(this)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_accountname" class="control-label mandatory">Bank Name</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_bankname" class="form-control" maxlength="25" onkeypress="CompanyNameRegex(event)" onblur="removeCompanyName(this)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_bankroutingno" class="control-label mandatory">Bank Routing Number</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_bankroutingno" class="form-control" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_bankroutingno" class="control-label mandatory">Confirm Bank Routing Number</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_confirmbankroutingno" class="form-control" maxlength="9" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_bankaccountno" class="control-label mandatory">Bank Account Number (DAN)</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_bankaccountno" class="form-control" maxlength="17" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label for="txt_confirmbankaccountno" class="control-label mandatory">Confirm Bank Account Number (DAN)</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_confirmbankaccountno" class="form-control" maxlength="17" onkeypress="Onlydigit(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Bank Account Type</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group is-empty">
                                <select id="ddl_accounttype" class="form-control">
                                    <option value="C">Checking</option>
                                    <option value="S">Savings</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-12">
                            <a onclick="RBBankPrev()" class="btn btn-default btn-info btn-nextprev">Previous</a>
                            <a onclick="RBBankNext()" class="btn btn-default btn-info btn-nextprev">Next</a>
                        </div>
                    </div>
                </div>

                <div id="dv_fee" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group is-empty checkbox" id="dv_sbfee">
                                <label>
                                    <input type="checkbox" id="chk_fbfee"><span class="checkbox-material"><span class="check"></span></span>
                                    <b>
                                         Please check the box if you would like the Service Bureau Fee listed below to be added to your billing schedule
                                        for EF Only and Paper Returns (non-Bank Products)?
                                    </b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_bankaccountno" class="control-label">Service Bureau Fee </label>
                                <span class="cst-tooltip"><a class="ttip" id="ttip18ebc922-193f-45e9-bdc4-d0115883a502" style="display:none;" href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right"><i class="fa fa-info" aria-hidden="true"></i></a></span>
 </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_sbfee" class="form-control" maxlength="17" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label for="txt_bankaccountno" class="control-label">Transmitter Fee </label>
                                <span class="cst-tooltip"><a class="ttip" id="ttip18ebc922-193f-45e9-bdc4-d0115883a503" style="display:none;" href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right"><i class="fa fa-info" aria-hidden="true"></i></a></span>
                           </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <input type="text" id="txt_transmitfee" class="form-control" maxlength="17" onkeypress="Onlydigit(event)" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label mandatory">Do you want to offer the NetSpend Visa Prepaid Card to your customers?</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <select id="ddl_cardprogram" class="form-control">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group is-empty checkbox" id="dvTandC">
                                <label>
                                    <input type="checkbox" id="chk_returns"><span class="checkbox-material"><span class="check"></span></span>
                                    <b> Agree To Bank <a data-target="#Termsandconditions" data-toggle="modal">Terms and Conditions</a></b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bankenroll-div-save">
                        <div class="col-md-6">
                            <a onclick="RBFeePrev()" class="btn btn-default btn-info btn-nextprev">Previous</a>
                            <a onclick="saveRBBankEnrollment(1,7)" class="btn btn-default btn-info">Next</a>
                        </div>
                        <div class="col-md-6 text-right" id="dv_saveBank">
                            <a onclick="saveRBBankEnrollment(0,7)" class="btn btn-default btn-info cst-btn-block">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Termsandconditions" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="min-height:300px;">
                <button type="button" class="btn btn-default btn-confirm cancel-btn" data-dismiss="modal" style="margin-top:218px;float:right">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('.max_5dig').keyup(function (e) {
            if ($(this).val().length > 5) {
                var xp = $(this).val();
                $(this).val(xp.substr(0, 5));
            }
        });
    })

    function fnOfficeManagerCopy() {
        var OfficeManagerAddressSame = $('#chkManager').is(':checked');
        if (OfficeManagerAddressSame) {
            $('#txt_offmngrFN').val($('#txt_offcntFN').val()).attr('disabled', 'disabled');
            $('#txt_offmngeLN').val($('#txt_offcntLN').val()).attr('disabled', 'disabled');
            $('#txt_offManagerEmail').val($('#txt_email').val()).attr('disabled', 'disabled');
            $('#txt_offmngrPhoneNo').val($('#txt_officephone').val()).attr('disabled', 'disabled');
            $('#txt_offmngeCellPhone').val($('#txt_cellphone').val()).attr('disabled', 'disabled');
            //$('#txt_offmngrSSN').val($('#txt_offcntSSN').val()).attr('disabled', 'disabled');
            $('#txt_offmngrDOB').val($('#txt_offContactDOB').val());//.attr('disabled', 'disabled');
        } else {
            $('#txt_offmngrFN').removeAttr('disabled');
            $('#txt_offmngeLN').removeAttr('disabled');
            $('#txt_offManagerEmail').removeAttr('disabled');
            $('#txt_offmngrPhoneNo').removeAttr('disabled');
            $('#txt_offmngeCellPhone').removeAttr('disabled');
            $('#txt_offmngrSSN').removeAttr('disabled');
            $('#txt_offmngrDOB').removeAttr('disabled');
        }
    }
    function fnMailingAddressCopy() {
        var OfficeManagerAddressSame = $('#chkMailManager').is(':checked');
        if (OfficeManagerAddressSame) {
            $('#txt_mailaddress').val($('#txt_officeaddress').val()).attr('disabled', 'disabled');
            $('#txt_mailcity').val($('#txt_officecity').val()).attr('disabled', 'disabled');
            $('#ddl_mailstate').val($('#ddl_officestate').val()).attr('disabled', 'disabled');
            $('#txt_mailzip').val($('#txt_officezip').val()).attr('disabled', 'disabled');
        } else {
            $('#txt_mailaddress').removeAttr('disabled');
            $('#txt_mailcity').removeAttr('disabled');
            $('#ddl_mailstate').removeAttr('disabled');
            $('#txt_mailzip').removeAttr('disabled');
        }
    }

    function fnShippingAddressCopy() {
        var OfficeManagerAddressSame = $('#chkShipping').is(':checked');
        if (OfficeManagerAddressSame) {
            $('#txt_fulladdress').val($('#txt_officeaddress').val()).attr('disabled', 'disabled');
            $('#txt_fullcity').val($('#txt_officecity').val()).attr('disabled', 'disabled');
            $('#ddl_fullstate').val($('#ddl_officestate').val()).attr('disabled', 'disabled');
            $('#txt_fullzip').val($('#txt_officezip').val()).attr('disabled', 'disabled');
        } else {
            $('#txt_fulladdress').removeAttr('disabled');
            $('#txt_fullcity').removeAttr('disabled');
            $('#ddl_fullstate').removeAttr('disabled');
            $('#txt_fullzip').removeAttr('disabled');
        }
    }
</script>