@using EMPPortal.Filters;
@*@{
    ViewBag.Title = "BankEnrollment";
   // Layout = "~/Views/Shared/_SubSiteLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*<h2 class="page-title">Bank Enrollment</h2>*@
<input type="hidden" id="formid" name="formid" value="active" formid="site0feeb0fe-d0e7-4370-8733-dd5f7d2041fc" sitemapid="0feeb0fe-d0e7-4370-8733-dd5f7d2041fc" />
<div id="dv_Enrollment">
    @*<h3 class="text-center">Please select Bank</h3>*@
</div>

@*<script src="~/Scripts/app/BankEnrollment.js"></script>*@
@section scripts {
@Html.IncludeVersionedJs("/Scripts/app/BankEnrollment.js")
}

<script type="text/javascript">

    $(document).ready(function () {

        getBankSelected();
        setTimeout(function () {
            var d = new Date();
            d.setYear(d.getFullYear() - 18);
            //if (banktpye == 'S') {
            //    var containers = [];
            //    containers.push($('#ddl_officestate'));
            //    containers.push($('#ddl_shipstate'));
            //    containers.push($('#ddl_ownerstate'));
            //    containers.push($('#ddl_owneridstate'));
            //    getStateMasterCodeMultiple(containers);

            //    $('#ddl_officestate').val(0);
            //    $('#ddl_shipstate').val(0);
            //    $('#ddl_ownerstate').val(0);
            //    $('#ddl_BankLY').val(0);
            //    $('#ddl_accttype').val(0);
            //    $('#ddl_owneridstate').val(0);

            //    $('#txt_OfficeTel').mask("999-999-9999");
            //    $('#txt_OwnerTel').mask("999-999-9999");
                
            //    //$('#txt_OwnerDOB').datepicker({
            //    //    format: "mm/dd/yyyy",
            //    //    endDate: d
            //    //});
            //}
            //else if (banktpye == 'V') {
            //    var containers = [];
            //    containers.push($('#ddl_officestate'));
            //    containers.push($('#ddl_mailstate'));
            //    containers.push($('#ddl_ownerstate'));
            //    containers.push($('#ddl_issuestate'));
            //    containers.push($('#ddl_shipstate'));
            //    containers.push($('#ddl_IRSstate'));
            //    containers.push($('#ddl_modalstate'));
            //    containers.push($('#ddl_modalidstate'));
            //    containers.push($('#ddl_incorporatestate'));
            //    getStateMasterCodeMultiple(containers);

            //    $('#ddl_officestate').val(0);
            //    $('#ddl_mailstate').val(0);
            //    $('#ddl_ownerstate').val(0);
            //    $('#ddl_issuestate').val(0);
            //    $('#ddl_shipstate').val(0);
            //    $('#ddl_IRSstate').val(0);
            //    $('#ddl_corporationtype').val(0);
            //    $('#ddl_hasassociated').val(0);
            //    $('#ddl_prevclient').val(0);
            //    $('#ddl_bankaccounttype').val(0);
            //    $('#ddl_modalstate').val(0);
            //    $('#ddl_modalidstate').val(0);
            //    $('#ddl_incorporatestate').val(0);

            //    //$('#txt_ownerDOB, #txt_modalDOB').datepicker({
            //    //    format: "mm/dd/yyyy",
            //    //    endDate: d
            //    //});

            //    $('#txt_ownercell, #txt_contactphone, #txt_modalphone').mask("999-999-9999");
            //    $('#txt_ownerphone, #txt_officephone').mask("999-999-9999");
            //}
            //else if (banktpye == 'R') {
            //    var containers = [];
            //    containers.push($('#ddl_officestate'));
            //    containers.push($('#ddl_altofficestate'));
            //    containers.push($('#ddl_mailstate'));
            //    containers.push($('#ddl_fullstate'));
            //    containers.push($('#ddl_ownerstate'));
            //    containers.push($('#ddl_efinownerstate'));
            //    containers.push($('#ddl_idstate'));
            //    getStateMasterCodeMultiple(containers);
            //    $('select').val(0);
            //    //$('#txt_offmngrDOB, #txt_ownerDOB, #txt_businessdate, #txt_efinownerDOB, #txt_offContactDOB').datepicker({
            //    //    format: "mm/dd/yyyy",
            //    //    endDate: d
            //    //})
            //    $('#txt_eroagreeddate, #txt_eroapplncmptd').datetimepicker();
            //    $('#txt_officephone, #txt_cellphone, #txt_ownerphone, #txt_efinownerphone, #txt_efinownermobile, #txt_offmngeCellPhone').mask("999-999-9999");
            //}
            //getBankEnrollmentData();
        });
    })
</script>
