@using EMPPortal.Filters;
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<input type="hidden" id="formid" name="formid" value="active" formid="sitea55334d1-3960-44c4-8cf1-e3ba9901f2be" sitemapid="a55334d1-3960-44c4-8cf1-e3ba9901f2be" />
<div class="row" id="divEnrollFeeSetupConfigForm">
    <div class="col-md-12">
        <h2 class="page-title">Enrollment Fee Add-On Reimbursements</h2>
        <input type="hidden" id="ID" name="ID" />
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        @if (Convert.ToInt32(Session["entityid"].ToString()) != (int)EMPPortal.Utilities.EMPPortalConstants.Entity.SO || Convert.ToInt32(Session["entityid"].ToString()) != (int)EMPPortal.Utilities.EMPPortalConstants.Entity.SOME || Convert.ToInt32(Session["entityid"].ToString()) != (int)EMPPortal.Utilities.EMPPortalConstants.Entity.SOME_SS)
                        {
                            <p>
                                All add-on amounts will be credited to your account. Any fees and outstanding balance on account will be applied against the credit amounts.
                                 To ease the payment of credit balances, they will be sent electronically via ACH directly to your bank account.
                            </p>
                        }
                        else
                        {
                        <p>
                            All Service Bureau and/or Transmission Fee Add-On amounts, including any amounts collected on behalf of Sub-sites, 
                            will be credited to the Main site account. Any fees and/or outstanding balances will be applied against the credit amounts.  
                            To ease the payment of credit balance, they will be sent electronically via ACH directly to your bank account.
                        </p>
                        }
                        <div class="bank-img"><img src="~/Content/images/bank.jpg" class="img-responsive" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label mandatory">Name on Account:</label>
                            <input type="text" id="txtNameofAccount" class="form-control alpha" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label mandatory">Bank Name:</label>
                            <input type="text" id="txtBankName" class="form-control alpha" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group is-empty">
                            <label>Account Type:</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="AccountType" value="option3" id="rbAccountTypeYes" checked="">
                                    Checking
                                </label>
                                <label>
                                    <input type="radio" name="AccountType" value="option3" id="rbAccountTypeNo">
                                    Savings
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label mandatory">Please enter your 9 digit RTN: </label>
                            <input type="text" id="txtRTN" class="form-control digit" maxlength="9">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Please confirm your 9 digit RTN:</label>
                            <input type="text" id="txtConfirmRTN" class="form-control digit" maxlength="9">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label mandatory">Please enter your Bank Account Number: </label>
                            <input type="text" id="txtBankAccount" class="form-control digit" maxlength="17">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group is-empty">
                            <label for="inputDefault" class="control-label">Please confirm your Bank Account Number:</label>
                            <input type="text" id="txtConfirmBankAccount" class="form-control digit" maxlength="17">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="checkbox authorize" id="dv_authorize">
                            <label>
                                <input type="checkbox" id="chkAughorize"><span class="checkbox-material"></span> I authorize uTax, LLC to electronically credit my account (and if necessary, to electronically debit my account to correct erroneous credits).
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-10 col-md-offset-1">
            <a href="javascript:void(0)" class="btn btn-default btn-info" onclick="fnSaveEnrollFeeReimbursementConfig(0)">Save</a>
            <a href="javascript:void(0)" class="btn btn-default btn-info" onclick="fnSaveEnrollFeeReimbursementConfig(3)">Save &amp; Next</a>
        </div>
    </div>
</div>

@section scripts {
    @Html.IncludeVersionedJs("/Scripts/app/EnrollFeeReimbursement.js")
}

<script>
    $(document).ready(function () {
        getEnrollServiceBureauTransInformation();
    });
</script>
